<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.js"></script>
    <title>Learning Angular JS</title>
    <script>
    var myApp = angular.module('myApp',[]);

    myApp.controller('CostCtrl', ['$scope', function($scope) {
      $scope.cost = 0.00;
      $scope.add_tax = true;
      var update = function() {
        $scope.tax = $scope.add_tax ? $scope.cost * 0.15 : 0.0;
        // $scope.total = parseFloat($scope.cost) + $scope.tax + $scope.shipping.amount;
        $scope.total = parseFloat($scope.cost) + $scope.tax + parseFloat($scope.shipping) + parseFloat($scope.warranty.amount);
      }
      $scope.$watch('cost + add_tax', update); // cost(value) + add_tax(boolean)
      $scope.$watch('cost * tax', update);
      $scope.$watch('warranty', update);
      $scope.$watch('shipping', update);
      $scope.$watch('total_bill', function() {
        $scope.bill_display = $scope.total_bill ? 'block' : 'none';
      });
      $scope.final_bill = 0.0;
      $scope.add = function() {
        $scope.final_bill += $scope.total;
      }
      $scope.warranty_pkg = [
        {amount:0.00, name:"None"},
        {amount:20.00, name:"Standard - $20"},
        {amount:35.00, name:"Extended - $35"},
      ];
      $scope.warranty = $scope.warranty_pkg[0];

      // $scope.shipping_options = [
      //   {amount:10.00, name:"Flat Rate - $10"},
      //   {amount:20.00, name:"Express - $20"},
      //   {amount:30.00, name:"Super Express - $30"},
      // ];
      // $scope.shipping = $scope.shipping_options[0];
      $scope.shipping = 10.00;
    }]);

    </script>
  </head>
  <body>
    <div ng-controller="CostCtrl">
      <div>
        <input type="checkbox" ng-model="add_tax">Add Tax
        <input type="checkbox" ng-model="total_bill">Show Total
      </div></br>
      Cost: <input type="text" ng-model="cost" placeholder="cost" /></br></br>
      Warranty: <select ng-model="warranty" ng-options="s.name for s in warranty_pkg"></select></br></br>
      Shipping: <input type="radio" ng-model="shipping" value="10.00">Flat Rate</input>
      <input type="radio" ng-model="shipping" value="20.00">Express</input>
      <input type="radio" ng-model="shipping" value="30.00">Super Express</input>
      <p>
        This is your cost: {{ cost | currency }}
      </p>
      <p>
        This is your tax: {{ tax | currency }}
      </p>
      <p style="display:{{bill_display}}">
        This is your total: {{ total | currency }}
        <button ng-click="add()">Add</button>
      </p>
      <p style="display:{{bill_display}}">
        Your runnig total is: {{ final_bill | currency }}
      </p>
    </div>

  </body>
</html>
